.form_container {
  width: 450px;
  height: 400px;
}

#form-submit{
          background-image: linear-gradient(75deg, #19D3AE, #0fcfec);
          text-transform: uppercase; 
          border-color: transparent; 
          width: 130px; 
          height: 40px;  
}
.form_close {
          background-image: linear-gradient(75deg, #19D3AE, #0fcfec);
          border-color: transparent; 
          text-transform: uppercase;
          width: 130px; 
          height: 40px;
          border-radius: 10px;
}
