.blog-section{
          height : 700px;
          background: rgb(241, 241, 241);
}
.card-primary{
          background-image: linear-gradient(75deg, #19D3AE, #0fcfec);          
}
.card-white{
          background: white;
}