.box-content1{
          background-color: #F1536E;
          width: 350px;
          height: 100px;
          margin-right: 10px;
          border-radius: 10px;
          
}
.box-content2{
          background-color: #3DA5F4;
          width: 350px;
          height: 100px;
          margin-right: 10px;
          border-radius: 10px;
}
.box-content3{
          background-color: #00C689;
          width: 350px;
          height: 100px;
          margin-right: 10px;
          border-radius: 10px;
}
.box-content4{
          background-color: #FDA006;
          width: 350px;
          height: 100px;
          border-radius: 10px;
         
}