.info-primary{
          background-color: #1CC7C1;
}
.info-dark{
          background-color: #3A4256;
}
.info_container{
          height: 150px;
          padding: 50px;
}
.font-icon{
          font-size: 3em;
}